<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/gafas/gafas10.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Gafas con borde negro y lente trasparente por $20.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/gafas/gafas4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Lentes Rayban transparentes estilo piloto en tono dorado y negro por $20.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/img/gafas/gafas3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">¡Clásicas y diferentes! Lentes redondos oscuros con mucho estilo a $30.000</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/gafas/gafas9.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Modernas y estilizadas. Lentes cafés con bordes delicados a 30.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/gafas/gafas5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Gafas Rayban redondas con lente rosado a $30.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/img/gafas/gafas7.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Lentes diferentes y agatados por $20.000</p>
        </div>
      </div>
    </div>
  </div>
</div>