<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/gafas/gafas4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Lentes Rayban transparentes estilo piloto en tono dorado y negro por $20.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/gafas/gafas5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Gafas Rayban redondas con lente rosado a $30.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/img/relojes/relog4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Casio en goma en colores vivos y divertidos. Llévalos por $20.000</p>
        </div>
      </div>
    </div>
  </div>
</div>