<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/relojes/relog1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Reloj blanco</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/relojes/relog2.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Relog</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/img/relojes/relog3.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Reloj casio cuadrado en tono rose gold. Hora digital, cronometró, alarma, fecha y luz led.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/relojes/relog4.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Casio en goma en colores vivos y divertidos. Llévalos por $20.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card">
        <img class="card-img-top" src="../assets/img/relojes/relog5.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Reloj casio metálico en tono negro por $55.000</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
      <div class="card" >
        <img class="card-img-top" src="../assets/img/relojes/relog6.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Reloj casio rose gold metálico ovalado a $55.000</p>
        </div>
      </div>
    </div>
  </div>
</div>