<carousel class="text-center">
    <slide>
      <img class="img-main-carousel" src="assets/img/gafas/gafas1.jpg" alt="Gafas1" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/relojes/relog1.jpg" alt="Relog1" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/gafas/gafas2.jpg" alt="Gafas2" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/relojes/relog2.jpg" alt="Relog2" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/gafas/gafas3.jpg" alt="Gafas3" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img class="img-main-carousel" src="assets/img/relojes/relog3.jpg" alt="Relog3" style="display: block; width: 100%;">
    </slide>
  </carousel>
      
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 espacio"></div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="../assets/img/otras/otras1.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Gafas oscuras modernas para dama $20.000</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card">
            <img class="card-img-top" src="../assets/img/otras/otras2.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Gafas de lujo para dama $20.000</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card" >
            <img class="card-img-top" src="../assets/img/otras/otras3.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Gafas de sol para dama $20.000</p>
            </div>
          </div>
        </div>
      </div>
    </div>